# Ignore large data files to prevent GitHub push errors and repo bloat
*.csv
*.xlsx
*.pkl
*.sqlite

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Agent folders
.gemini/
.agents/
.antigravitycli/
